
@{
    ViewData["Title"] = "EliminarEstudiante";
    Layout = "~/Views/Shared/LayoutMod.cshtml";
}
@model EstudianteModel

<h1>EliminarEstudiante</h1>

<div>

    <form asp-action="EliminarUnEstudiante" asp-controller="TblEstudiante" method="post">

            <input asp-for="IdRows" type="hidden" class="form-control">

            <div class="alert alert-warning role="alert">
                ¿Desea eliminar el contacto : @Html.DisplayTextFor(m => m.StrNombre) ?
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="LeerEstudiante" asp-controller="TblEstudiante" class="btn btn-warning">Volver a la lista</a>
        </form>
</div>
